@model GadgetHub.Domain.Entities.Product

<div class="card h-100">
	<!-- Product image-->
	<img class="card-img-top mx-auto d-block" src="@(Model.ImageData != null ? Url.Action("GetImage", "Product", new { Model.ProductID }) : Url.Content("~/Content/images/noimage.jpg"))" alt="Product Image" style="max-width: 100%; height: auto;" />
	<!-- Product details-->
	<div class="card-body p-4">
		<div class="text-center">
			<!-- Product name-->
			<h5 class="fw-bolder">@Model.Name</h5>
			<!-- Product description-->
			<p class="card-text">@Model.Description</p>
			<!-- Product price-->
			<span class="badge bg-primary fs-5 p-2">@Model.Price.ToString("c")</span>
		</div>
	</div>
	<!-- Product actions-->
	<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
		<div class="text-center">
			@using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @class = "d-flex justify-content-between align-items-center" }))
			{
				@Html.HiddenFor(x => x.ProductID)
				@Html.Hidden("returnUrl", Request.Url.PathAndQuery)
				<button type="submit" class="btn btn-outline-dark mt-auto">
					<i class="bi bi-cart-plus"></i> Add to Cart
				</button>
			}
		</div>
	</div>
</div>


