@model GadgetHub.WebUI.Models.ProductsListViewModel

@{
	ViewBag.Title = "Products";
}

@foreach (var p in Model.Products)
{
	<div class="card p-3 bg-light text-dark mb-2">
		<h3>
			<strong>Name: @p.Name</strong>
			<span class="badge bg-primary float-end">Price: @p.Price</span>
		</h3>
		<p><strong>Brand:</strong> @p.brand</p>
		<p><strong>Category:</strong> @p.category</p>
		<p><strong>Description:</strong> @p.Description</p>
	</div>
}

<div>
	@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
