
@model GadgetHub.WebUI.Models.CartIndexViewModel

@{
	ViewBag.Title = "Gadget Hub: Your Cart";
}

<h2>Your Cart</h2>
<table class="table">

	<thead>
		<tr>
			<th>Quantity</th>
			<th>item</th>
			<th class="text-end">Quantity</th>
			<th class="text-end">Total</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var line in Model.Cart.Lines)
		{
			<tr>
				<td>@line.Quantity</td>
				<td>@line.Product.Name</td>
				<td>@line.Product.Price.ToString("c")</td>
				<td>@line.Quantity @line.Product.Price.ToString("c")</td>
			</tr>
		;}
</tbody>
	<tr>
		<td colspan="3" class="text-end">Total:</td>
		<td class="text-end">@Model.Cart.ComputeTotalValue().ToString("c")</td>
	</tr>
	<tfoot>
		<div class="text-center">
			<a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
		</div>
	</tfoot>
</table>
